
eevee_with_bg_8/eevee_with_bg_8_scaled.bmp
eevee_with_bg_8/eevee_with_bg_8_pattern.xlsm
eevee_with_bg_8/eevee_with_bg_8_pattern.csv
eevee_with_bg_8/eevee_with_bg_8_palette.csv
eevee_with_bg_8/eevee_with_bg_8_actual.bmp
eevee_7/eevee_7_scaled.bmp
eevee_7/eevee_7_pattern.xlsm
eevee_7/eevee_7_pattern.csv
eevee_7/eevee_7_palette.csv
eevee_7/eevee_7_actual.bmp
cross stitch example/eevee_with_bg.png
cross stitch example/eevee.png
